/* import remixicon */
@import url("https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css");

/* Global */
* {
  box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #fff;
	background-color: #1D2128;
	margin: 0;
	padding: 0;
}

textarea,
input {
	resize: none;
	border: none;
	background-color: transparent;
}

textarea:focus,
input:focus {
	outline: none;
}

/* Header */

.header {
	background-color: #1D2128;
	padding: 20px;
	display: inline-flex;
	align-items: center;
	width: 100%;
	border-bottom: 1px solid #fff;
	position: fixed; 
	z-index: 1;
}

.welcome {
  margin-left: 8.5rem;
}

.main-section {
	display: flex;
	align-items: center;
	height: 100vh;
	width: 100%;
}

.aside {
	width: 15%;
	height: 100%;
	background-color: #1D2128;
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: 1px solid #fff;
	position: fixed;
	top: 4.75rem;
}

.aside-options {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  top: 0;
  left: 0;
  margin: .25rem 0;
  padding: 0;
  width: 100%;
}

.aside-icons {
  color: #fff;
  vertical-align: top;
  margin: 0 1rem;
}

.aside-btn:hover {
  color: #fff;
  background-color: #999B9E;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  cursor: pointer;
}

.main {
  position: relative;
  left: 15%;
  width: 85%;
  height: 100%;
  background-color: #1D2128;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.note-maker {
  position: absolute;
  top: 6rem;
  margin: 0 auto;
}

.form-maker {
  display: flex;
  flex-direction: column;
	color: #7B8493;
	background-color: #fff;
	border-radius: .75rem;
	padding: .5rem;
}

.palette {
	position: absolute;
	bottom: 3.5rem;
	left: .5rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 120px;
	background-color: rgba(29, 33, 40, .8);
	border-radius: .75rem;
	z-index: 1;
	opacity: 0;
}

.color {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin: 5px;
	cursor: pointer;
	border: none;
}

.btn-keep {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem 1.25rem;
	border: none;
	background-color: transparent;
	color: #333;
	font-weight: 900;
	font-size: 1rem;
	cursor: pointer;
}

.btn-keep:hover {
	scale: 1.1;
}

.ri-palette-fill {
	cursor: pointer;
}

#notesTitle {
	position: absolute;
	top: 18rem;
	left: 3rem;
}

#notesContainer {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.card-header {
	color: #333;
	position: relative;
	width: 200px;
	height: 200px;
	margin: 0 1rem;
	padding: 1rem;
	border-radius: .75rem;
}

.card-header__buttons {
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0 1rem;
}
